# This .gitignore file is for Unity projects

# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/

# Crash and debug logs
sysinfo.txt

# =============== #
# Visual Studio   #
# =============== #
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta

# =============== #
# OS generated    #
# =============== #
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini

# =============== #
# Rider IDE       #
# =============== #
.idea/
*.sln.iml

# =============== #
# Auto Build/CI   #
# =============== #
Builds/
ExportedObj/
*.apk
*.aab

# =============== #
# Unity Collab    #
# =============== #
.collab/

# =============== #
# JetBrains Rider #
# =============== #
.idea/
*.sln.iml
